<template>
  <!-- Modal -->
  <div
    class="modal"
    id="addModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ ModalHeading }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form @submit.prevent="onSubmit">
          <div class="modal-body">
            <div class="form">
              <Input label="ID:" type="text" v-model="id" hidden />
              <Input label="Date:" type="text" v-model="createdAt" hidden />
              <div class="mb-3">
                <label for="name" class="col-form-label">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  v-model="name"
                />
              </div>
              <div class="mb-3">
                <label for="address" class="col-form-label">Address:</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  v-model="address"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { mapActions } from "vuex";
//import form element components.
import Input from "@/components/form-elements/BaseInput.vue";
export default {
  data() {
    const picked = new Date();
    return {
      ModalHeading: "Add a Customer",
      id: "",
      createdAt: picked,
      name: "",
      address: "",
    };
  },
  methods: {
    customerObject() {
      const customerObj = {
        id: this.id,
        createdAt: this.createdAt,
        name: this.name,
        address: this.address,
      };

      return customerObj;
    },
    resetCustomerObject() {
      this.id = "";
      this.createdAt = "";
      this.name = "";
      this.address = "";
    },
    ...mapActions(["addCustomer"]),
    onSubmit() {
      const customer = this.customerObject();
      this.$store.dispatch("addCustomer", customer).then(() => {
        Swal.fire("Saved", "Customer has been added", "success");
      });
      this.resetCustomerObject();
    },
  },

  components: {
    Input,
  },
};
</script>

<style>
.modal {
  max-width: 450px;
  margin-left: 35%;
}
</style>
