<template>
  <!-- Modal -->
  <div
    class="modal"
    id="addInvoiceModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ ModalHeading }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form @submit.prevent="onSubmit">
          <div class="modal-body">
            <div class="form">
              <Input label="ID:" type="text" v-model="id" hidden />
              <Input label="Date:" type="text" v-model="createdAt" hidden />
              <div class="mb-3">
                <label for="customerID" class="col-form-label"
                  >CustomerID:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  v-model="customerID"
                />
              </div>
              <div class="mb-3">
                <label for="invoiceNo" class="col-form-label"
                  >Invoice Number:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="invoiceNo"
                  name="invoiceNo"
                  v-model="invoiceNo"
                />
              </div>
              <div class="mb-3">
                <label for="duedate" class="col-form-label">Due Date:</label>
                <input
                  type="date"
                  class="form-control"
                  id="duedate"
                  name="duedate"
                  v-model="duedate"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { mapActions } from "vuex";
//import form element components.
import Input from "@/components/form-elements/BaseInput.vue";
export default {
  data() {
    const picked = new Date();
    return {
      ModalHeading: "Add Customer Invoice",
      id: "",
      customerID: "",
      invoiceNo: "",
      createdAt: picked,
      duedate: "",
    };
  },
  methods: {
    invoiceObject() {
      const invoiceObj = {
        id: this.id,
        customerID: this.customerID,
        invoiceNo: this.invoiceNo,
        createdAt: this.createdAt,
        duedate: this.duedate,
      };

      return invoiceObj;
    },
    resetInvoiceObject() {
      this.id = "";
      this.customerID = "";
      this.invoiceNo = "";
      this.createdAt = "";
      this.duedate = "";
    },
    ...mapActions(["addInvoice"]),
    onSubmit() {
      try {
        const invoice = this.invoiceObject();
        const customerid = this.$route.params.customerid;
        //console.log(customerid);
        this.$store.dispatch("addInvoice", customerid, invoice).then(() => {
          Swal.fire("Saved", "Invoice has been added", "success");
        });
      } catch (error) {
        return error;
      }
      this.resetInvoiceObject();
    },
  },

  components: {
    Input,
  },
};
</script>

<style>
.modal {
  max-width: 450px;
  margin-left: 35%;
}
</style>
