<template>
  <!-- Modal -->
  <div
    class="modal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ ModalHeading }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form @submit.prevent="updateCustomer(customerObject)">
          <div class="modal-body">
            <div class="form">
              <Input
                label="ID:"
                type="text"
                :modelValue="customerObject.id"
                readonly
              />
              <Input
                label="Date:"
                type="text"
                :modelValue="customerObject.createdAt"
                readonly
              />
              <Input
                label="Name:"
                type="text"
                :modelValue="customerObject.name"
              />
              <Input
                label="Address:"
                type="text"
                :modelValue="customerObject.address"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
//import Swal from "sweetalert2";
import { mapActions } from "vuex";
//import form element components.
import Input from "@/components/form-elements/BaseInput.vue";
export default {
  data() {
    const picked = new Date();
    return {
      ModalHeading: "Edit Customer Data",
      id: "",
      createdAt: picked,
      name: "",
      address: "",
    };
  },
  methods: {
    ...mapActions(["updateCustomer"]),
    updateCustomer(customerObject) {
      const updtCustomer = {
        id: customerObject.id,
        createdAt: customerObject.createdAt,
        name: customerObject.name,
        address: customerObject.address,
      };
      console.log(updtCustomer);
      this.$store.dispatch("updateCustomer", updtCustomer);
      //this.updateCustomer(updtCustomer);
    },
  },
  props: {
    customerObject: Object,
  },
  created() {
    this.customerObject;
  },
  components: {
    Input,
  },
};
</script>

<style>
.modal {
  max-width: 450px;
  margin-left: 35%;
}
</style>
