<template>
  <div class="container">
    <div class="container-right ms-5">
      <section class="my-container">
        <div class="top-row">
          <div class="card-header bg-light">
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'Customer' }">Customer</router-link>
                </li>
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'Invoice' }">Invoice</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Invoice-Item
                </li>
              </ol>
            </nav>
          </div>
          <div
            class="badge bg-success fst-italic fs-6 mt-3"
            style="width: 10rem"
          >
            Invoice ID:{{ this.$route.params.invoiceid }}
          </div>
          <Heading
            heading="Invoice Item Data "
            subHeading="Shows all products attached to an invoice"
            class="mt-2"
          />

          <hr class="mt-3 w-100" />
          <div class="form-items">
            <AddButton
              title="Add Product"
              class="btnAdd"
              data-bs-toggle="modal"
              data-bs-target="#addInvoiceModal"
            />
            <AddInvoiceModal />
          </div>
        </div>
        <div class="bottom-row">
          <div class="card mt-5 w-100">
            <table class="table table-striped table-hover">
              <thead class="thead-dark" id="title">
                <tr>
                  <th>ID</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
                  <th>Created At</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="invoice_item in allInvoiceItems"
                  :key="invoice_item.id"
                >
                  <td>{{ invoice_item.id }}</td>
                  <td>{{ invoice_item.item_name }}</td>
                  <td>{{ invoice_item.item_price }}</td>
                  <td>{{ invoice_item.createdAt }}</td>
                  <td>
                    <button type="button" class="btn">
                      <span class="icons text-danger" id="delete">
                        <fa icon="trash" />
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
//import components.
import Heading from "@/components/Heading.vue";
import AddButton from "@/components/AddButton.vue";
import AddInvoiceModal from "@/components/ModalForms/AddInvoiceModal.vue";
export default {
  name: "Invoice",
  components: {
    Heading,
    AddButton,
    AddInvoiceModal,
  },
  data() {
    return {};
  },

  created() {
    const customerid = this.$route.params.customerid;
    const invoiceid = this.$route.params.invoiceid;
    const InvoiceItemObj = {
      customerid,
      invoiceid,
    };
    const invoiceItems = this.$store.dispatch(
      "fetchAllInvoiceItems",
      InvoiceItemObj
    );
    console.log(invoiceItems);
    console.log(this.$route.params.customerid);
    console.log(this.$route.params.invoiceid);
  },
  computed: {
    ...mapGetters(["allInvoiceItems"]),
  },
  methods: {
    ...mapActions(["fetchAllInvoiceItems"]),
    //, "deleteCustomer"
  },
};
</script>

<style scoped>
.container {
  max-width: 80vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #f5f5f5;
}
section {
  height: 100vh;
}
.container-right {
  width: 80vw;
}

.my-container {
  background-color: #f5f5f5;
}

.top-row {
  position: relative;
  padding-top: 10px;
  margin-left: 0%;
  margin-top: 5%;
}

.bottom-row {
  position: relative;
}

.search-input {
  width: 50%;
  border: 0px;
}

.btnAdd {
  position: absolute;
  right: 0px;
  bottom: 40px;
}

.card {
  max-height: auto;
  margin-left: 0vw;
  font-size: 12px;
}

#title {
  font-size: 15px;
}
</style>
