<template>
  <div class="container">
    <div class="container-right ms-5">
      <section class="my-container">
        <div class="top-row">
          <div class="card-header bg-light">
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'Customer' }">Customer</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Invoices
                </li>
              </ol>
            </nav>
          </div>
          <div
            class="badge bg-success fst-italic fs-6 mt-3"
            style="width: 10rem"
          >
            Customer ID:{{ this.$route.params.id }}
          </div>
          <Heading
            heading="Invoice Data"
            subHeading="Shows all invoices attached to a customer"
            class="mt-2"
          />
          <hr class="mt-3 w-100" />
          <div class="form-items">
            <AddButton
              title="Add Invoice"
              class="btnAdd"
              data-bs-toggle="modal"
              data-bs-target="#addInvoiceModal"
            />
            <AddInvoiceModal />
          </div>
        </div>
        <div class="bottom-row">
          <div class="card mt-5 w-100">
            <table class="table table-striped table-hover">
              <thead class="thead-dark" id="title">
                <tr>
                  <th>ID</th>
                  <th>Invoice No.</th>
                  <th>Created At</th>
                  <th>Due Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="invoice in allInvoices" :key="invoice.id">
                  <td>{{ invoice.id }}</td>
                  <td>{{ invoice.invoice_no }}</td>
                  <td>{{ invoice.createdAt }}</td>
                  <td>{{ invoice.due_date }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn"
                      v-on:click="
                        openInvoiceItem(invoice.customerId, invoice.id)
                      "
                    >
                      <span class="icons text-primary" id="view">
                        <fa icon="eye" />
                      </span>
                    </button>

                    <button
                      type="button"
                      class="btn"
                      data-bs-toggle="modal"
                      @click="removeInvoice()"
                    >
                      <span class="icons text-success" id="edit">
                        <fa icon="edit" />
                      </span>
                    </button>
                    <button type="button" class="btn">
                      <span class="icons text-danger" id="delete">
                        <fa icon="trash" />
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Swal from "sweetalert2";
//import components.
import Heading from "@/components/Heading.vue";
import AddButton from "@/components/AddButton.vue";
import AddInvoiceModal from "@/components/ModalForms/AddInvoiceModal.vue";
export default {
  name: "Invoice",
  components: {
    Heading,
    AddButton,
    AddInvoiceModal,
  },
  data() {
    return {};
  },
  created() {
    const customerid = this.$route.params.customerid;
    this.$store.dispatch("fetchAllInvoices", customerid);
  },
  computed: {
    ...mapGetters(["allInvoices"]),
  },
  methods: {
    ...mapActions(["fetchAllInvoices", "deleteInvoice"]),
    openInvoiceItem(customerid, invoiceid) {
      console.log(customerid, invoiceid);
      this.$router.push(
        `/customer/${customerid}/invoice/${invoiceid}/invoice_item`
      );
    },

    removeInvoice() {
      const customerid = this.$route.params.customerid;
      const invoiceid = this.$route.params.invoiceid;
      const InvoiceObj = {
        customerid,
        invoiceid,
      };
      this.$store.dispatch("deleteInvoice", InvoiceObj).then(() => {
        Swal.fire(
          "Deleted",
          "Customer has been Permanently deleted",
          "success"
        );
      });
    },
  },
};
</script>

<style scoped>
.container {
  max-width: 80vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #f5f5f5;
}
section {
  height: 100vh;
}
.container-right {
  width: 80vw;
}

.my-container {
  background-color: #f5f5f5;
}

.top-row {
  position: relative;
  padding-top: 10px;
  margin-left: 0%;
  margin-top: 5%;
}

.bottom-row {
  position: relative;
}

.search-input {
  width: 50%;
  border: 0px;
}

.btnAdd {
  position: absolute;
  right: 0px;
  bottom: 40px;
}

.card {
  max-height: auto;
  margin-left: 0vw;
  font-size: 12px;
}

#title {
  font-size: 15px;
}
</style>
