<template>
  <div class="container">
    <div class="container-left">
      <SideNavigation :open="navOpen" />
    </div>
    <div class="container-right ms-5">
      <section class="my-container">
        <Menu class="menu" @toggleNav="navOpen = !navOpen" /><br />
        <div class="top-row">
          <Heading
            heading="Product Data"
            subHeading="Registered product Information is available on this page"
            class="mt-2"
          />

          <hr class="mt-3 w-100" />
          <div class="form-items">
            <AddButton
              title="Add Product"
              class="btnAdd"
              data-bs-toggle="modal"
              data-bs-target="#addModal"
            />
            <!-- modal -->
            <ProductModal></ProductModal>
          </div>
        </div>
        <div class="card mt-5 w-100">
          <table class="table table-striped table-hover">
            <thead class="thead-dark" id="title">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Created At</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-sm">
              <tr v-for="product in pageOfItems" :key="product.id">
                <td>{{ product.id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.createdAt }}</td>
                <td>
                  <button
                    type="button"
                    class="btn"
                    @click="confirmDelete(product.id)"
                  >
                    <span class="icons text-danger" id="delete">
                      <fa icon="trash" />
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <jw-pagination
          :pageSize="10"
          :items="allProducts"
          @changePage="onChangePage"
          class="position-relative bottom-0 start-50 translate-middle-x mt-4"
        ></jw-pagination>
      </section>
    </div>
  </div>
</template>
<script>
import Swal from "sweetalert2";
import { mapGetters, mapActions } from "vuex";

//import components.
import SideNavigation from "@/components/SidebarNavigation.vue";
import Menu from "@/components/Humburger.vue";
import Heading from "@/components/Heading.vue";
import AddButton from "@/components/AddButton.vue";
import ProductModal from "../components/ModalForms/AddProductModal.vue";
export default {
  name: "Product",
  components: {
    SideNavigation,
    Menu,
    Heading,
    AddButton,
    ProductModal,
  },

  data() {
    return {
      navOpen: true,
      pageOfItems: [],
    };
  },
  created() {
    this.$store.dispatch("fetchAllProducts");
  },
  methods: {
    ...mapActions(["fetchAllProducts", "deleteProduct"]),
    onChangePage(pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems;
    },

    confirmDelete(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You can't revert this action",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
      }).then((result) => {
        if (result.isConfirmed) {
          this.removeProduct(id);
        } else {
          Swal.fire(
            "Cancelled",
            "Product is still available in system",
            "info"
          );
        }
      });
    },
    removeProduct(id) {
      this.$store.dispatch("deleteProduct", id).then(() => {
        Swal.fire("Deleted", "Product has been Permanently deleted", "success");
      });
    },
  },
  computed: {
    ...mapGetters(["allProducts"]),
  },
};
</script>

<style scoped>
.container {
  max-width: 98vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #f5f5f5;
}
section {
  height: 210vh;
  text-align: left;
}
.container-left {
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #f4f4f4;
  color: white;
  margin-left: 5px;
}

.container-right {
  margin-left: 5vw;
  width: 88vw;
}
.menu {
  margin-left: 15%;
}

.my-container {
  background-color: #f5f5f5;
}

.top-row {
  position: relative;
  padding-top: 10px;
  margin-left: 15%;
  margin-top: 5%;
}

.search-input {
  width: 50%;
  border: 0px;
}

.btnAdd {
  position: absolute;
  right: 0px;
  bottom: 90px;
}

.pagination {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 85%;
  max-height: auto;
  margin-left: 12.5vw;
  font-size: 12px;
}

#title {
  font-size: 15px;
}
</style>
